.Github
{
    width: 150px;
}

.intro
{
    font-size: 2em;
    line-height: 1.5;
}

.bgwhite
{
    background-color: white;
}

.bggray
{
    background-color: #fbfbfb;
}

.main_content
{
    margin-top: auto;
    margin-bottom: auto;
}

.main_content *
{
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 1.5em;
}

.work
{
    padding-left: 2%;
    padding-right: 2%;
}

.work *
{
    padding-bottom: 0%;    
}


.work p
{
    font-family: 'Work Sans', sans-serif;
    color: rgb(93, 93, 93);
    font-size : 24px;
    padding : 5%;
    text-align : center;
}

.work a:hover, a:visited, a:link, a:active
{
    color: inherit;
    text-decoration: none;
}

.nopadx
{
    padding-left: 0%;
    padding-right: 0%;
}
